.advantages {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.advantages__item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.advantages__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 30px;
  border: none;
  width: 270px;
  height: 120px;
  background-color: $backgroundColor;
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  list-style: none;
}

.advantages__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
  color: $textColor;
}
